#col1{
    
    margin: 0 auto;
    background-color:rgb(28, 221, 235);
    border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
#col2{
    background-color:rgb(248, 20, 20);
    border-color: white;
    border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
#col3{
    background-color:rgb(218, 231, 26);
    border-color: white;
    border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
