#col1{
    
    margin: 0 auto;
    background-color:rgb(201, 28, 235);
    border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  height: 200px;
}
#col2{
    background-color:rgb(78, 12, 201);
    border-color: white;
    border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
#col3{
    background-color:rgb(231, 26, 129);
    border-color: white;
    border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
#col4{
    background-color:rgb(207, 26, 231);
    border-color: white;
    border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
