*{
    margin: 0;
    padding: 0;
    border: 2px solid rgb(255, 255, 255);
}
#caja{
    padding: 0%;
    border:2px solid #f5bf86;
    background:#e7b36f;
    margin:0%;
    line-height:26px !important;
    }
    #img-fluid{
        height: 350px;
        object-fit: cover;
        border: 2px solid rgb(255, 255, 255);
        margin: 0;
        padding: 0;
    }