*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
}
#col1, #col16{
    background-color:#B3DEE2;
    border: 1px solid rgb(0, 0, 0);
    height: 80px;
}
#col2{
    background-color:#EAF2D7;
    border: 1px solid rgb(0, 0, 0);
    margin: 0; 
    height: 480px;
}
#col3{
    background-color:#EFCFE3;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    height: 80px;
}
#col4, #col5{
    background-color:#EA9AB2;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    height: 200px;
}
#col6, #col7, #col8, #col9, #col10, #col11, #col12, #col13, #col14, #col15{
    background-color:#E27396;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
    height: 100px;
}
@media(max-width:766px){
    #col2{
        height: 680px;
    }
}
@media(max-width:566px){
    #col2{
        display: none;
    }
    #col6, #col7, #col8, #col9, #col10, #col11, #col12, #col13, #col14, #col15{
        width: 241px;
    }

}