.container{
    background: #feeafa;
}
*{
    margin: 0;
    padding: 0;
    border: 2px solid rgb(255, 255, 255);
}
#col1{
    height: 100px;
    background-color: #fecaff;
    border: 2px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
#col2{
    height: 100px;
    background-color: #c6e5ff;
    border: 2px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
#img-fluid{
    height: 710px;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
.imagenes{
    height: 350px;
object-fit: cover;
border: 2px solid rgb(255, 255, 255);
margin: 0;
padding: 0;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
